{% extends 'app/base_patient.html' %}
{% block content %}
  <div class="header-profile">
   
  </div>
 </div>
 <div class="wrapper">
  <div class="main-container">
   <div class="content-wrapper">
    <div class="content-section">
     <div class="content-section-title">Data</div>
     <ul>
      <li class="adobe-product">
       <div class="products"> Doctor Name: </div>
       <span class="status"> {{ request.session.doctorname }} </span>
       <div class="button-wrapper">
        <button class="content-button status-button open">Edit</button>
        </div>
      </li>
      </ul>
      <form action="{% url 'getpatientinfo' %}" id="myForm" name="doctorForm" autocomplete="off" method="POST"> 
      {% csrf_token %}  
      <ul>
        <li class="adobe-product">
         <div class="products"> <label for="email_id">Email:</label> </div>
         <span class="status"> 
          <input style="width: max-content;" type="email" class="form-control shadow-none" name="email_id" id="email_id" placeholder="name@example.com" aria-describedby="emailHelpBlock" autofocus>
          </span>
          <div class="button-wrapper">
            <button class="content-button status-button open">Find Data</button>
          </div>
        </li>
        </ul>
        </form>
        {% if request.session.error %}
        <ul style="margin-top: 4mm;">
          <li class="adobe-product">
            <div class="products"> </div>
              <span class="status">{{ request.session.error }}</span>
              <div style="float: left; margin-left: 102mm;" class="button-wrapper">
              </div>
          </li>
          </ul>
        {% elif request.session.data %}
        <ul style="margin-top: 4mm;">
          <li class="adobe-product">
            <div class="products"> <label for="pname">Patient Name:</label> </div>
              <form action="{% url 'addfiledata' %}" id="myForm" name="doctorForm" autocomplete="off" method="POST"> 
              {% csrf_token %}
              <span class="status" style="float: left; margin-left: 65mm;"> <input style="width: max-content;" type="text" class="form-control shadow-none" name="pname" id="pname" placeholder="name@example.com" aria-describedby="emailHelpBlock" value="{{ request.session.data.fields.name }}" autofocus disabled>
              <div style="float: left; margin-left: 102mm;" class="button-wrapper">
              </div>
          </li>
          </ul>
          <ul>
          <li class="adobe-product">
              <div class="products"> <label for="symptom">Patient's Symptoms:</label> </div>
              <span class="status" style="float: left; margin-left: 65mm;"> <input style="width: max-content;" type="text" class="form-control shadow-none" name="symptom" id="symptom" placeholder="Enter Symptoms" aria-describedby="emailHelpBlock" value="" autofocus> </span>
              <div style="float: left; margin-left: 102mm;" class="button-wrapper">
              </div>
          </li>
          </ul>
          <ul>
          <li class="adobe-product">
            <div class="products"> <label for="diagnosis">Patient's Diagnosis:</label> </div>
              <span class="status" style="float: left; margin-left: 65mm;"> <input style="width: max-content;" type="text" class="form-control shadow-none" name="diagnosis" id="diagnosis" placeholder="Enter Diagnosis" aria-describedby="emailHelpBlock" value="" autofocus> </span>
              <div style="float: left; margin-left: 102mm;" class="button-wrapper">
              </div>
          </li>
          </ul>
          <ul>
          <li class="adobe-product">
          <div class="products"> <label for="prescribedMedicine">Prescribed Medicine:</label> </div>
              <span class="status" style="float: left; margin-left: 65mm;"> <input style="width: max-content;" type="text" class="form-control shadow-none" name="prescribedMedicine" id="prescribedMedicine" placeholder="Enter Prescribed Medicine" aria-describedby="emailHelpBlock" value="" autofocus> </span>
              <div style="float: left; margin-left: 102mm;" class="button-wrapper">
              </div>
          </li>
          </ul>
          <ul>
          <li class="adobe-product">
           <div class="products"> <label for="note">Notes:</label> </div>
              <span class="status" style="float: left; margin-left: 65mm;"> <input style="width: max-content;" type="text" class="form-control shadow-none" name="note" id="note" placeholder="Enter Notes" aria-describedby="emailHelpBlock" value="" autofocus> </span>
              <div style="float: left; margin-left: 102mm;" class="button-wrapper">
              </div>
          </li>
          </ul>
          <ul>
            <li class="adobe-product">
                <div class="products"> <label for="blood_grp">Blood Group:</label> </div>
                    <span class="status" style="float: left; margin-left: 65mm;">  {{ request.session.health.fields.blood_grp }} </span>
                    <div style="float: left; margin-left: 102mm;" class="button-wrapper">
                    </div>
                
            </li>
        </ul>
        <ul>
            <li class="adobe-product">
                <div class="products"> <label for="emergency_num">Emergency Number:</label> </div>
                    <span class="status" style="float: left; margin-left: 65mm;"> {{ request.session.health.fields.emergency_num }} </span>
                    <div style="float: left; margin-left: 102mm;" class="button-wrapper">
                    </div>
                
            </li>
        </ul>
        <ul>
            <li class="adobe-product">
                <div class="products"> <label for="medicine">Medicine:</label> </div>
                    <span class="status" style="float: left; margin-left: 65mm;"> {{ request.session.health.fields.medication }}</span>
                    <div style="float: left; margin-left: 102mm;" class="button-wrapper">
                    </div>
            </li>
        </ul>
          <ul>
            <li class="adobe-product">
             <div class="products"> </div>
                <span class="status" style="float: left; margin-left: 65mm;">
                  <div style="float: left;" class="button-wrapper">
                  <button class="content-button status-button open">Save prescription</button>
                </div>
                </span>              
              </form>
            </li>
            </ul>
        {% endif %}
        {% if request.session.errorfield %}
     <ul style="margin-top: 4mm;">
       <li class="adobe-product">
         <div class="products"> </div>
           <span class="status">{{ request.session.errorfield }}</span>
           <div style="float: left; margin-left: 102mm;" class="button-wrapper">
           </div>
       </li>
       </ul>
 {% endif %}
    </div>
   </div>
  </div>
 </div>
 <div class="overlay-app"></div>
{% endblock content %}
