{% extends 'app/base_patient.html' %}
{% block content %}
  <div class="header-profile">
   
  </div>
 </div>
 <div class="wrapper">
  <div class="main-container">
   <div class="content-wrapper">
    <div class="content-section">
     <div class="content-section-title">Data</div>
     
     <ul>
      <form action="{% url 'editpatientdata' %}" id="myForm" name="doctorForm" autocomplete="off" method="POST"> 
      {% csrf_token %}
      <li class="adobe-product">
       <div class="products"> Full Name: </div>
       <span class="status"> <input style="width: max-content;" type="text" class="form-control shadow-none" name="fullname" id="fullname" placeholder="Enter Full Name" value="{{ request.session.patient.fields.name }}" aria-describedby="emailHelpBlock" autofocus disabled> </span>
       <div class="button-wrapper">
      
        </div>
      </li>
      </ul>

      <ul>
      <li class="adobe-product">
        <div class="products"> Email ID: </div>
        <span class="status"> <input style="width: max-content;" type="text" class="form-control shadow-none" name="mail" id="mail" placeholder="Enter Email ID" value="{{ request.session.patient.fields.email_id }}" aria-describedby="emailHelpBlock" autofocus disabled>  </span>
        <div class="button-wrapper">
         
        </div>
       </li>
      </ul>
         <ul>
          <li class="adobe-product">
           <div class="products"> Phone Number: </div>
           <span class="status"> <input style="width: max-content;" type="text" class="form-control shadow-none" name="phonenum" id="phonenum" placeholder="Enter phone number" value="{{ request.session.phone_number.fields.phone_number }}" aria-describedby="emailHelpBlock" autofocus>  </span>
           <div class="button-wrapper">
            
           </div>
          </li>
         </ul>
      <ul>
       <li class="adobe-product">
        <div class="products"> Address </div>
        <span class="status"> <input style="width: max-content;" type="text" class="form-control shadow-none" name="add" id="add" placeholder="Enter address" value="{{ request.session.patient.fields.address_1 }}" aria-describedby="emailHelpBlock" autofocus> </span>
        <div class="button-wrapper">
         
        </div>
       </li>
      </ul>
      <ul>
       <li class="adobe-product">
        <div class="products"> City </div>
        <span class="status"> <input style="width: max-content;" type="text" class="form-control shadow-none" name="city" id="city" placeholder="Enter City" value="{{ request.session.patient.fields.city }}" aria-describedby="emailHelpBlock" autofocus> </span>
        <div class="button-wrapper">
         
        </div>
       </li>
      </ul>
      <ul>
       <li class="adobe-product">
        <div class="products"> State </div>
        <span class="status"> <input style="width: max-content;" type="text" class="form-control shadow-none" name="state" id="state" placeholder="Enter State" value="{{ request.session.patient.fields.state }}" aria-describedby="emailHelpBlock" autofocus> </span>
        <div class="button-wrapper">
         
        </div>
       </li>
      </ul>
      <ul>
       <li class="adobe-product">
        <div class="products"> Country </div>
        <span class="status"> <input style="width: max-content;" type="text" class="form-control shadow-none" name="country" id="country" placeholder="Enter Country" value="{{ request.session.patient.fields.country }}" aria-describedby="emailHelpBlock" autofocus> </span>
        <div class="button-wrapper">
         
        </div>
       </li>
      </ul>
      <ul>
        <li class="adobe-product">
         <div class="products"> Pincode </div>
         <span class="status"> <input style="width: max-content;" type="text" class="form-control shadow-none" name="pincode" id="pincode" placeholder="Enter Pincode" value="{{ request.session.patient.fields.pincode }}" aria-describedby="emailHelpBlock" autofocus> </span>
         <div class="button-wrapper">
          
         </div>
        </li>
       </ul>
      <ul>
            <li class="adobe-product">
                <div class="products"></div>
                    <span class="status" style="float: left; margin-left: 65mm;"> 
                        <div style="float: left;" class="button-wrapper">
                            <button class="content-button status-button open">Save Details</button>
                        </div>
                    </span>
              </li>
            </form>
        </ul>
        {% if request.session.errorfield %}
          <ul>
            <li class="adobe-product">
                <div class="products"></div>
                    <span class="status" style="float: left; margin-left: 65mm;"> 
                        <div style="float: left;" class="button-wrapper">
                            Enter Valid Data
                        </div>
                    </span>
              </li>
            </form>
        </ul>
        {% endif %}
    </div>
   </div>
  </div>
 </div>
 <div class="overlay-app"></div>
{% endblock content %}