{% extends 'app/base_signup_in_page.html' %}    
    {% block content %}
            <div class="mt-5"></div>
            {% if request.session.error %}
                <div class="heading p-1 text-center">
                    <div class="isa_error">
                    <i class="fa fa-times-circle"></i>
                        {{ request.session.error }}
                    </div>
                </div>
            {% elif request.session.success %}
                <div class="heading p-1 text-center">
                    <div class="isa_success">
                    <i class="fa fa-check"></i>
                        {{ request.session.success }}
                    </div>
                </div>
            {% endif %}
            <div class="heading mt-2 pb-4"> 
                <div>
                    <p style="font-weight: bold;" class="text-center pt-3 fs-3"> Forget Password </p>
                </div>
                <hr>
                <div class="loginForm">
                    <form action="{% url 'forgetpassword' %}" id="myForm" name="loginForm" autocomplete="off" method="POST"> 
                        {% csrf_token %}
                        <div class="row g-6 d-flex align-items-center justify-content-center">
                            <div class="col-md-9">
                                <label for="email_id">Email:</label>
                                <input style="background-color: #F5DEB3; color: black; border: 1px solid;" type="email" class="form-control shadow-none mt-1" name="email_id" id="email_id" placeholder="name@example.com" aria-describedby="emailHelpBlock" autofocus>
                                <div id="emailHelpBlock" class="form-text">
                                    Example: xyz@domain.com
                                </div>
                            </div>
                        </div>
                        <div class="row d-grid gap-2 col-4 mx-auto mt-3">
                            <button style="background-color: #4F4846; color: black;" type="submit" id="btn" class="fw-bold btn shadow-none" >Forget Password</button>
                        </div>         
                    </form>
                </div>
            </div>
        {% endblock content %} 