{% load static %}
<html class="loder">
    <head>
        <title>eCard-{{ title }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <link rel="icon" href="{% static 'eCard/logo.png' %}"  sizes="16*16" type="image/icon type">
        <link rel="stylesheet" href="{% static 'eCard/style.css' %}">
    </head> 
    <body>
        <!-- loder -->
        <div id="loder">
            <div class="container-fluid mt-3 ps-3  fs-2" id="loder">
                <img src="{% static 'eCard/E-card.png' %}" alt="logo" class="logo">
            </div>
        </div>

        <!-- Main page -->
        <div id="main" style="visibility: hidden;"> 
            <h1>HEllo</h1>
        </div> 
        
    </body>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
        var seconds = 5;
        var countdownEl = document.querySelector('#loder'); 

        setInterval(function() {
        if (seconds === 0) {
            document.getElementById("loder").style.visibility = "hidden";
            document.getElementById("main").style.visibility = "visible";
            return;
        }
        --seconds;
        }, 1000);

        });
        // document.onreadystatechange = function() {
        //     if (document.readyState !== "complete") 
        //     {
        //         document.querySelector(
        //           "body").style.visibility = "hidden";
        //         document.querySelector(
        //           "#loder").style.visibility = "visible";
        //     } 
        //     else 
        //     {
        //         document.querySelector(
        //           "#loder").style.display = "none";
        //         document.querySelector(
        //           "body").style.visibility = "visible";
        //     }
        // };
    </script>
</html>