{% extends 'app/base_patient.html' %}
{% block content %}
  <div class="header-profile">
   
  </div>
 </div>
 <div class="wrapper">
  <div class="main-container">
   <div class="content-wrapper">
    <div class="content-section">
     <div class="content-section-title">Data</div>
     
     <ul>
      <li class="adobe-product">
       <div class="products"> Full Name: </div>
       <span class="status"> {{ request.session.patient.fields.name }} </span>
       <div class="button-wrapper">
        </div>
      </li>
      </ul>

      <ul>
      <li class="adobe-product">
        <div class="products"> Email ID: </div>
        <span class="status"> {{ request.session.patient.fields.email_id }} </span>
        <div class="button-wrapper">
        </div>
       </li>
      </ul>
      <ul>
        <li class="adobe-product">
          <div class="products"> Adhaar Number: </div>
          <span class="status"> {{ request.session.patient.fields.adhaar_number }} </span>
          <div class="button-wrapper">

          </div>
         </li>
        </ul>
        <ul>
          <li class="adobe-product">
           <div class="products"> DOB: </div>
           <span class="status"> {{ request.session.patient.fields.birth_date }} </span>
           <div class="button-wrapper">

           </div>
          </li>
         </ul>
         
        <ul>
          <li class="adobe-product">
           <div class="products"> Gender: </div>
           <span class="status"> {{ request.session.patient.fields.gender }} </span>
           <div class="button-wrapper">

           </div>
          </li>
         </ul>
         <ul>
          <li class="adobe-product">
           <div class="products"> Phone Number: </div>
           <span class="status"> {{ request.session.phone_number.fields.phone_number }} </span>
           <div class="button-wrapper">

           </div>
          </li>
         </ul>
      <ul>
       <li class="adobe-product">
        <div class="products"> Address </div>
        <span class="status"> {{ request.session.add }} </span>
        <div class="button-wrapper">
        </div>
       </li>
      </ul>
      <ul>
            <li class="adobe-product">
                <div class="products"> Want to update your data: </div>
                    <span class="status" style="float: left; margin-left: 65mm;"> 
                        <div style="float: left;" class="button-wrapper">
                            <a href="{% url 'editpatientdata' %}"><button class="content-button status-button open">Edit Details</button></a>
                        </div>
                    </span>
              </li>
        </ul>
    </div>
   </div>
  </div>
 </div>
 <div class="overlay-app"></div>
{% endblock content %}