html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Vollkorn', serif;
    background-image: linear-gradient(to left, #97d3e0, #8bcde3, #82c5e6, #7ebee8, #7eb5e9, #78b8ee, #71bcf3, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    color: #66FCF1;
    user-select: none;
    /* opacity: 0.95; */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Loder classes */
#loder{
    overflow: hidden;
    overflow-x: hidden;
    /* background-color: #112730; */
    background-image: linear-gradient(to left, #97d3e0, #8bcde3, #82c5e6, #7ebee8, #7eb5e9, #78b8ee, #71bcf3, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    height: 100%;
    width: 100%;
    position: fixed;
}

img.logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: blink normal 1s infinite ease-in-out;
}
@keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
div.logo{
    position: relative;
}


/* Nav bar */
nav.body{
    
}