html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Vollkorn', serif;
    background-color: #133032;
    color: #66FCF1;
    user-select: none;
    /* opacity: 0.95; */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Loder classes */
#loder{
    overflow: hidden;
    overflow-x: hidden;
    /* background-color: #112730; */
    background-image: linear-gradient(to left top, #42442f, #2f3f2f, #1e3831, #133032, #112730, #12252f, #14242e, #15222c, #17272e, #1a2b30, #1e3032, #243433);
    height: 100%;
    width: 100%;
    position: fixed;
}

img.logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: blink normal 2s infinite ease-in-out;
}
@keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
div.logo{
    position: relative;
}